* {
    margin: 0;
    padding: 0;

    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background-color: #40aa0b;
}

/* Header */

.telefoneTop {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    width: 100%;
    height: 5vh;

    background-color: black;

    padding: 0 25%;

    font-size: 1rem;
}

.telefoneTop a {
    color: white;
}

header {
    background: url(./img/imagemBanner.png) no-repeat;
}

.barraNavegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    padding: 0 20%;
    background-color: rgba(0, 0, 0, 75%);
}

.barraNavegacao nav {
    width: 70%;
}

.barraNavegacao nav h1 {
    display: inline;
    margin-left: 4%;
    color: white;
    font-weight: 100;
}

.barraNavegacao nav a {
    color: white;
    margin-left: 4%;
}

.barraNavegacao a i {
    margin-left: 1%;
    padding: .4% .6%;
    font-size: .7rem;

    border-radius: 50%;
    background-color: rgb(37, 37, 37);
}

#areaRestrita {
    margin-left: 2%;
}

#iconeCadeado {
    background: none;
    border-radius: 0;

    font-size: .8rem;
    margin-right: 1.5%;
    padding: 0;
}

#logo {
    padding: 1% 0;
    height: 60px;
}

.bannerPrincipal {
    display: flex;
    flex-direction: column;

    padding: 6% 20% 15% 20%;
    color: white;
}

.bannerPrincipal h2 {
    margin-bottom: 1.5%;

    font-size: 2.5rem;
    font-weight: 700;
}

.bannerPrincipal p {
    font-size: 1.1rem;
}

.bannerPrincipal button {
    margin-top: 4%;
    padding: 1.3% 0;
    width: 30%;

    border-radius: .5rem;

    background-color: #40aa0b;
    color: white;
    border: none;
    
    font-family: Lato;
    font-size: .9rem;
    font-weight: bold;
}

/* Main */

main {
    padding: 0% 20% 2.5% 20%;
}

/* Serviços */

.textoServicos {
    text-align: center;
}

.textoServicos h1 {
    font-size: 2.5rem;
    font-weight: 900;

    margin-bottom: 1.5%;
}

.textoServicos p {
    font-size: 1.1rem;
    color: #424242;
}

.boxServicos {
    margin-top: 4%;
    
    display: flex;
    flex-direction: row;
}

.servico {
    margin-right: 1.5%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 20%);
}

.imgServico img {
    height: 180px;
    width: 280px;

    border-radius: .9rem .9rem 0 0;
}

.imgServico h3 {
    margin-left: 4%;
    
    font-size: 1.3rem;
    font-weight: 900;
    
    position: relative;
    bottom: 70px;

    color: white;
}

.servico button {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;

    font-weight: bold;

    background: none;
    border: none;

    padding: 2% 4%;
    margin-bottom: .2%;

    width: 100%;
}

.btnServico {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.servico button i {
    justify-self: flex-end;
}

.imgBotao {
    width: 40px;
    border-radius: .3rem;

    margin-right: 3%;
}

/* Unidades */

.unidades {
    margin-top: 4%;
}

.textoUnidades {
    text-align: center;
}

.textoUnidades h1 {
    font-size: 2.5rem;
    font-weight: 900;

    margin-bottom: 1.5%;
}

.textoUnidades p {
    font-size: 1.1rem;
    color: #424242;
}

.boxUnidades {
    margin-top: 4%;
    
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.unidade {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 20%);
}

.unidade img {
    width: 370px;
    border-radius: .9rem .9rem 0 0;

    
}

.textoUnidade {
    display: flex;
    flex-direction: column;

    margin: 3% 0 7% 5%;
    margin-top: 3%;
    margin-left: 5%;
}

.textoUnidade h3 {
    color: #424242;
    font-size: 1.25rem;
}

.enderecoComIcone {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 4%;
}

.enderecoComIcone i {
    margin-right: 4%;
    font-size: .8rem;
    color: #40aa0b;
}

.endereco {
    display: flex;
    flex-direction: column;
}

.endereco p {
    padding-bottom: 3%;
    color: #424242;
}

/* Atendimento */

.atendimento {
    display: flex;
    flex-direction: column;
    text-align: center;

    margin: 4% 4%;
}

.atendimento h1 {
    font-size: 1.3rem;
    color: #424242;
    margin-bottom: 1.7%;
}

.atendimento a {
    color: #40aa0b;
    font-size: 2.1rem;
    font-weight: 900;
}

.atendimento a i {
    margin-right: 2%;
    font-size: 1.8rem;
}

/* Noticias */

.noticias {
    display: flex;
    flex-direction: column;
}

.tituloNoticias {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 4%;
}

.tituloNoticias h1 {
    font-size: 2.5rem;
    font-weight: 900;

    margin-right: 27%;
}

.tituloNoticias span {
    font-size: .8rem;
}

.tituloNoticias span i {
    font-size: .7rem;
}

.boxNoticias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerNoticias {
    width: 24%;
    height: 325px;

    border-radius: .7rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 0 1.5% 2% 1.5%;

    color: white;
}

.containerNoticias span {
    font-size: .8rem;
    font-style: italic;
    font-weight: lighter;
    margin-top: 3%;
}

.containerNoticias h4 {
    font-weight: 900;
}

.noticia1 {
    background: linear-gradient(to top, rgba(10, 10, 10, 100), rgba(7, 7, 7, 0)), url(img/imgNoticia1.png);
}

.noticia2 {
    background: linear-gradient(to top, rgba(10, 10, 10, 100), rgba(7, 7, 7, 0)), url(img/imgNoticia2.png);
}

.noticia3 {
    background: linear-gradient(to top, rgba(10, 10, 10, 100), rgba(7, 7, 7, 0)), url(img/imgNoticia3.jpg);
}

.noticia4 {
    background: linear-gradient(to top, rgba(10, 10, 10, 100), rgba(7, 7, 7, 0)), url(img/imgNoticia4.png);
}

/* Footer */

/* Superior */
footer {
    background-color: rgb(21 21 21);

    display: flex;
    flex-direction: column;

    padding: 2% 20%;

    color: white;
}

footer hr {
    height: 1px;
    margin: 3% 0;
}

.opcoesFooter {
    display: flex;
    justify-content: space-between;
}

.opcao {
    display: flex;
    flex-direction: column;
}

.opcao a {
    font-size: .85rem;
    color: white;
}

.opcao h3 {
    margin-bottom: 3vh;
}

.opcao a {
    margin-bottom: 2vh;
    color: #bdbdbd;
}

.oComeco {
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.oComeco h5 {
    font-size: 1rem;
}

.oComeco p {
    line-height: 1.7rem;
    color: #bdbdbd;
}

.oComeco button {
    margin-top: 4%;
    padding: 1.3% 0;
    width: 100%;
    height: 25%;

    border-radius: .5rem;

    background-color: #40aa0b;
    color: white;
    border: none;
    
    font-family: Lato;
    font-size: .9rem;
    font-weight: bold;
}

/* Inferior */
.opcoesRedesSociais {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.cotemigInfo {
    display: flex;
    flex-direction: column;
}

.cotemigInfo img {
    width: 115px;
}

.cotemigInfo span {
    max-width: 52%;
    font-size: .75rem;

    margin-top: 5%;
}

.colegioCotemig {
    display: flex;
    flex-direction: row;
}

.faculdadeCotemig {
    display: flex;
    flex-direction: row;
}

.boxRedeSocial {
    display: flex;
    flex-direction: column;
}